
/*** Template Main Color***/
$color-white : #fff;
$color-purple: #5856d5;
$color-pink: #ff1d5b;



/***font***/
$font-nuni: 'Nunito', sans-serif;
/*-----------------
    # Typography
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto+Slab:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

/***transition***/
$transition: all .4s ease-in;
$transition-long: all .5s ease-in;